azure-functions
pandas
asn1crypto
asttokens
attrs
certifi
cffi
charset-normalizer
colorama
comm
cryptography
debugpy
decorator
executing
filelock
h11
idna
iniconfig
nest-asyncio
numpy
outcome
packaging
parso
platformdirs
pluggy
prompt_toolkit
psutil
pure_eval
pyarrow==18.0.0
pycparser
Pygments
PyJWT
pyOpenSSL
PySocks
pytest
python-dateutil
python-dotenv
pytz
pyzmq
requests
selenium
six
sniffio
snowflake-connector-python
sortedcontainers
stack-data
tomlkit
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
webdriver-manager
websocket-client
wsproto
playwright
